In [1]:
import mysql.connector

class ASAP_DB():
    def __init__(self, db_name='asap', host='localhost', user='root', password='1234'):
        self.db_name = db_name
        self.host = host
        self.user = user
        self.password = password
        self.id_list = []
    
    def get_cursor(self):
        remote = mysql.connector.connect(
            host=self.host,
            user=self.user,
            password=self.password,
            database=self.db_name)
        cursor = remote.cursor()
        return cursor, remote
    
    def execute(self, query):
        cursor, remote = self.get_cursor()
        cursor.execute(query)
        remote.commit()
        cursor.close()
        remote.close()

    def info(self, query):
        cursor, remote = self.get_cursor()
        cursor.execute(query)
        self.show_execute(cursor)
        remote.commit()
        cursor.close()
        remote.close()

    def show_execute(self, cursor):
        result = cursor.fetchall()
        for data in result:
            print(data)

    def get_data(self, table_name, data='*', condition=None):
        cursor, remote = self.get_cursor()
        if condition is not None:
            query = f"SELECT {data} FROM {table_name} WHERE {condition}"
        else:
            query = f"SELECT {data} FROM {table_name}"
        cursor.execute(query)
        result = cursor.fetchall()
        remote.commit()
        cursor.close()
        remote.close()
        return result

    def insert_values(self, table_name, columns, values):
        cursor, remote = self.get_cursor()
        query = f"INSERT INTO {table_name} ({columns}) VALUES ({values})"
        cursor.execute(query)
        self.info(f"SELECT * FROM {table_name}")
        remote.commit()
        cursor.close()
        remote.close()

    def select_values(self, table_name):
        cursor, remote = self.get_cursor()
        query = f"SELECT * FROM {table_name}"
        cursor.execute(query)
        self.show_execute(cursor)
        remote.commit()
        cursor.close()
        remote.close()

    def update_values(self, table_name, target, condition):
        cursor, remote = self.get_cursor()
        query = f"UPDATE {table_name} SET {target} WHERE {condition}"
        cursor.execute(query)
        remote.commit()
        cursor.close()
        remote.close()

    def delete_values(self, table_name, condition):
        cursor, remote = self.get_cursor()
        query = f"DELETE FROM {table_name} WHERE {condition}"
        cursor.execute(query)
        self.info(f"SELECT * FROM {table_name}")
        remote.commit()
        cursor.close()
        remote.close()        

db = ASAP_DB()

In [36]:
for code in db.get_data('car'):#, 'brand="ASAP"'):
    print(code)

('321조 3325', 'ASAP', 'Violet', '중형', '48', 0, 0, '', None)
('321조 3326', 'ASAP', 'Violet', '중형', '49', 0, 0, '', None)
('321조 3328', 'ASAP', 'Minty', '대형', '51', 0, 0, '', None)
('321조 3329', 'ASAP', 'Minty', '대형', '52', 0, 0, '', None)
('137가 1327', 'Toyota', 'Corolla', '중형', '13', 0, 0, '', None)
('247다 5328', 'Hyundai', 'Sonata', '중형', '14', 0, 0, '', None)
('147가 1327', 'Kia', 'K5', '중형', '15', 0, 0, '', None)
('137가 3287', 'BMW', 'M3', '대형', '16', 0, 0, '', None)
('137가 1328', 'Hyundai', 'E300', '소형', '17', 0, 0, '', None)
('137가 1329', 'Hyundai', 'E300', '소형', '18', 0, 0, '', None)
('137가 1330', 'Hyundai', 'Genesis', '중형', '19', 0, 0, '', None)
('137가 1331', 'Hyundai', 'Genesis', '중형', '20', 0, 0, '', None)
('395버 3125', 'ASAP', 'Pinky', '소형', '15', 0, 1, '/root/ros-repo-3/src/Server/DB/car/pinky/pinky1.png', 64.0)
('729나 1004', 'ASAP', 'Pinky', '소형', '7', 0, 0, '/root/ros-repo-3/src/Server/DB/car/pinky/pinky2.png', 0.0)

In [25]:
for code in db.get_data('person'):#, 'brand="ASAP"'):
    print(code)

('이상범', '010-1234-5678', '123-123456-12', '/root/ros-repo-3/src/Server/GM_GUI/Image/ASAP_LOGO_long.jpg', '30427337', 0, None, None, None, None, 0, 'pinky', '1234', 'normal')
('heetae', '010-9874-6513', '549-128796-62', '/root/ros-repo-3/src/Server/GM_GUI/Image/ASAP_LOGO_long.jpg', '85849350', 0, None, None, None, None, 0, 'asap', '123456', 'normal')

In [11]:
db.update_values('car', 'is_rented=0', 'car_number="395버 3125"')
for code in db.get_data('car'):#, 'brand="ASAP"'):
    print(code)

('321조 3325', 'ASAP', 'Violet', '중형', '48', 0, 0, '', None)
('321조 3326', 'ASAP', 'Violet', '중형', '49', 0, 0, '', None)
('321조 3328', 'ASAP', 'Minty', '대형', '51', 0, 0, '', None)
('321조 3329', 'ASAP', 'Minty', '대형', '52', 0, 0, '', None)
('137가 1327', 'Toyota', 'Corolla', '중형', '13', 0, 0, '', None)
('247다 5328', 'Hyundai', 'Sonata', '중형', '14', 0, 0, '', None)
('147가 1327', 'Kia', 'K5', '중형', '15', 0, 0, '', None)
('137가 3287', 'BMW', 'M3', '대형', '16', 0, 0, '', None)
('137가 1328', 'Hyundai', 'E300', '소형', '17', 0, 0, '', None)
('137가 1329', 'Hyundai', 'E300', '소형', '18', 0, 0, '', None)
('137가 1330', 'Hyundai', 'Genesis', '중형', '19', 0, 0, '', None)
('137가 1331', 'Hyundai', 'Genesis', '중형', '20', 0, 0, '', None)
('395버 3125', 'ASAP', 'Pinky', '소형', '15', 0, 1, '/root/ros-repo-3/src/Server/DB/car/pinky/pinky1.png', 63.1)
('729나 1004', 'ASAP', 'Pinky', '소형', '7', 0, 0, '/root/ros-repo-3/src/Server/DB/car/pinky/pinky2.png', 0.0)
('321조 3325', 'ASAP', 'Violet', '중형', '48', 0, 0, '', None)
('321조 3326', 'ASAP', 'Violet', '중형', '49', 0, 0, '', None)
('321조 3328', 'ASAP', 'Minty', '대형', '51', 0, 0, '', None)
('321조 3329', 'ASAP', 'Minty', '대형', '52', 0, 0, '', None)
('137가 1327', 'Toyota', 'Corolla', '중형', '13', 0, 0, '', None)
('247다 5328', 'Hyundai', 'Sonata', '중형', '14', 0, 0, '', None)
('147가 1327', 'Kia', 'K5', '중형', '15', 0, 0, '', None)
('137가 3287', 'BMW', 'M3', '대형', '16', 0, 0, '', None)
('137가 1328', 'Hyundai', 'E300', '소형', '17', 0, 0, '', None)
('137가 1329', 'Hyundai', 'E300', '소형', '18', 0, 0, '', None)
('137가 1330', 'Hyundai', 'Genesis', '중형', '19', 0, 0, '', None)
('137가 1331', 'Hyundai', 'Genesis', '중형', '20', 0, 0, '', None)
('395버 3125', 'ASAP', 'Pinky', '소형', '15', 0, 0, '/root/ros-repo-3/src/Server/DB/car/pinky/pinky1.png', 63.1)
('729나 1004', 'ASAP', 'Pinky', '소형', '7', 0, 0, '/root/ros-repo-3/src/Server/DB/car/pinky/pinky2.png', 0.0)

In [2]:
cur, remote = db.get_cursor()
cur.execute('alter table car add column battery float')
result = cur.fetchall()

In [26]:
db.info('desc car')

('car_number', 'varchar(45)', 'YES', '', None, '')
('brand', 'varchar(45)', 'YES', '', None, '')
('car_name', 'varchar(45)', 'YES', '', None, '')
('type', 'varchar(45)', 'YES', '', None, '')
('pin_number', 'varchar(45)', 'YES', '', None, '')
('destroied', 'tinyint(1)', 'YES', '', None, '')
('is_rented', 'tinyint(1)', 'YES', '', None, '')
('img_path', 'varchar(255)', 'YES', '', None, '')

[('137가 1330', 'Hyundai', 'Genesis', '중형', '19', 0, 0, ''),
 ('137가 1331', 'Hyundai', 'Genesis', '중형', '20', 0, 0, '')]

In [35]:
a = a[:-1]
a

'1'

In [37]:
db.insert_values('person', 'name, phone', '"이효리", "010-1234-5678"')

In [26]:
db.info('select * from person')

In [13]:
db.delete_values('car', 'type="대형"')

('137가 3287', 'BMW', 'M3', '대형', '16', 0, 0, 'None')
('321조 3328', 'ASAP', 'Minty', '대형', '51', 0, 0, 'None')
('321조 3329', 'ASAP', 'Minty', '대형', '52', 0, 0, 'None')

In [1]:
from Car import Car, CarDB

In [2]:
car1 = Car('Toyota', 'Corolla', '중형', '137가 1327', '13')
car2 = Car('Hyundai', 'Sonata', '중형', '247다 5328', '14')
car3 = Car('Kia', 'K5', '소형', '147가 1327', '15')
car4 = Car('BMW', 'M3', '대형', '137가 3287', '16')
car5 = Car('Hyundai', 'E300', '소형', '137가 1328', '17')
car6 = Car('ASAP', 'Pinky', '소형', '324조 3321', '44')
car7 = Car('ASAP', 'Pinky', '소형', '321조 3321', '45')

In [3]:
cardb = CarDB()

In [4]:
cardb.add_car(car1)
cardb.add_car(car2)
cardb.add_car(car3)
cardb.add_car(car4)
cardb.add_car(car5)
cardb.add_car(car6)
cardb.add_car(car7)

car_info '137가 1327', 'Toyota', 'Corolla', '중형', '13', '0', 'False', 'False'
car_info '247다 5328', 'Hyundai', 'Sonata', '중형', '14', '0', 'False', 'False'
car_info '147가 1327', 'Kia', 'K5', '소형', '15', '0', 'False', 'False'
car_info '137가 3287', 'BMW', 'M3', '대형', '16', '0', 'False', 'False'
car_info '137가 1328', 'Hyundai', 'E300', '소형', '17', '0', 'False', 'False'
car_info '324조 3321', 'ASAP', 'Pinky', '소형', '44', '0', 'False', 'False'
car_info '321조 3321', 'ASAP', 'Pinky', '소형', '45', '0', 'False', 'False'

In [8]:
cardb.get_stat_info('ASAP', 'brand')

'2', '0'

In [13]:
cardb.car_dict[cardb.car_model['Toyota'][0]].battery

0

In [11]:
cardb.remove_car(car1)
cardb.car_model

{'Hyundai': ['247다 5328'], 'Kia': ['147가 1327'], 'BMW': ['137가 3287']}

{'Toyota': ['137가 1327'],
 'Hyundai': ['247다 5328', '137가 1328'],
 'BMW': ['137가 3287']}

In [24]:
del(a['a'])

In [26]:
b = [1,2,3,4,5]

In [27]:
b.remove(4)

In [28]:
b

[1, 2, 3, 5]

In [16]:
b.update(a)

In [17]:
b

{'a': 1}